.photo-card{
    max-width: 500px;
    overflow: hidden;
    background: var(--ion-color-primary-contrast);
    //margin: 10px 0px;
    width: 100%;
  }

.photo-card ion-img {
  max-height: 532px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;  
}
