
  .feed {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    @media screen and (max-width:480px) {
      grid-template-columns: 80%;
    }
    //grid-template-rows: 80px auto 80px; 
     gap: 10px;
    //flex-direction: row;
   align-items: center;
   justify-content: center;
    background: var(--ion-color-light-tint);
  }